        <footer>
                <p><i class="fas fa-copyright"></i> The Mermaid, 181 Clarence Road, E5 8EE</p>
        </footer>
    
        <script type="text/javascript" src="../../public/scripts/mermaidScripts.js"></script>
    </body>
</html>