<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Mermaid Clapton</title>
        <meta name="description" content="The Mermaid Clapton, a friendly pub serving locally produced artesinal Beers in east London. Kitchen now open.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/styles/app.css">
        <link rel="stylesheet" media="screen and (min-width: 700px)" href="../../public/styles/desktopApp.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    </head>
    <body>

        <!-- Mobile Nav bar -->

        <nav id="nav-container">
            <div class="hamburger">
                <i id="burg" class="fas fa-bars"></i>
                <i id="x" class="hide fas fa-times"></i>
            </div>
            <ul class="navMenu">
                <a class="scroll" href="/"><li>About</li></a>
                <a class="scroll" href="/location"><li>Location</li></a>
                <a class="scroll" href="/draughtList"><li>Draught List</li></a>
                <a class="scroll" href="/menu"><li>Menu</li></a>
                <a class="scroll" href="/events"><li>Events</li></a>
                <a class="scroll" href="/contact"><li>Contact us</li></a>
            </ul>
            <div class="phone">
                <a href="tel:02085339677"><i class="fas fa-phone"></i></a>
            </div>
        </nav>