<% include partials/header %>

        <main>
            <section class="section-a">
                <div class="image-container">
                    <img class="image" src="https://farm3.staticflickr.com/2748/4102714674_0c0d7ec085.jpg" alt="">
                </div>
                <h1 class="title">Our Beers</h1>
                <div class="about">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis natus 
                            beatae earum tenetur, dolor optio, cupiditate eligendi repellat voluptate
                            doloribus quidem? Accusamus earum beatae ullam eius pariatur labore commodi
                            fuga, officia voluptatem doloremque excepturi unde qui, deleniti ad, vel ex
                            alias illo tenetur obcaecati enim. A, modi facere. Laudantium, ratione?
                    </p>
                </div>
            </section>
            <section class="section-d">
                <div class="image-container">
                    <img class="imageDraught" src="https://images.unsplash.com/photo-1521572008054-962cefc90ce7?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
                </div>
                <h3 class="title">The Mermaid recommends</h3>
                <div class="about">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro vero tempore dolorum magnam praesentium natus officiis at, autem alias eos voluptates culpa, reprehenderit sapiente provident soluta corporis ea voluptate! Qui.</p>
                </div>
            </section>
            <section class="section-c">
                <h2 id="draught1">Draught List</h2>
                <div id="draught">
                    <div class="draught-left">
                        <table>
                            <tr>
                                <th>Lager Beers</th>
                            </tr>
                            <tr>
                                <td><strong>House Pilsner</strong> (4.2% ABV)</td>
                                <td>£2.20 / £4.40</td>
                            </tr>
                            <tr>
                                <td><strong>Studio Pilsner</strong> (4% ABV)</td>
                                <td>£2.50 / £4.95</td>
                            </tr>
                            <tr>
                                <td><strong>Munich Helles</strong> (4.9% ABV)</td>
                                <td>£2.50 / £5.00</td>
                            </tr>
                            <tr>
                                <td><strong>Paulaner Dunkle</strong> dark lager (5% ABV)</td>
                                <td>£2.80 / £5.60</td>
                            </tr>
                            <tr>
                                <th><strong>Ale, IPA & Table Beer</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Kernel Table Beer</strong> (3.3% ABV)</td>
                                <td>£2.45 / £4.90</td>
                            </tr>
                            <tr>
                                <td><strong>Kernel Pale Centennial</strong> (5.4% ABV)</td>
                                <td>£2.60 / £5.20</td>
                            </tr>
                            <tr>
                                <td><strong>Fourpure American Ale</strong> (5% ABV)</td>
                                <td>£2.50 / £4.95</td>
                            </tr>
                            <tr>
                                <td><strong>Mondo Road Soda</strong> (4.8 ABV)</td>
                                <td>£2.50 / £5.00</td>
                            </tr>
                            <tr>
                                <td><strong>Mondo Dennis Hopp'r</strong> (5.3% ABV)</td>
                                <td>£2.55 / £5.10</td>
                            </tr>
                            <tr>
                                <td><strong>Beaverton Neck Oil</strong> (4.3% ABV)</td>
                                <td>£2.75 / £5.40</td>
                            </tr>
                            <tr>
                                <td><strong>Neckstamper Moon Curser APA</strong> (5.2% ABV)</td>
                                <td>£2.70 / £5.40</td>
                            </tr>
                            <tr>
                                <td><strong>Siren Soundwave</strong> (5.6%) ABV</td>
                                <td>£2.80 / £5.60</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="draught-right">
                        <table>
                            <tr>
                                <th><strong>Stout, Red & Brown Ales</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Fourpur Oatmeal Stout</strong> (5.1% ABV)</td>
                                <td>£2.50 / £4.90</td>
                            </tr>
                            <tr>
                                <td><strong>Crate Stout</strong> (5% ABV)</td>
                                <td>£2.50 / £4.95</td>
                            </tr>
                            <tr>
                                <td><strong>Signature B-Side Brown</strong> (4.7% ABV)</td>
                                <td>£2.50 / £4.95</td>
                            </tr>
                            <tr>
                                <td><strong>Neckstamper Red Ale</strong> (4.6% ABV)</td>
                                <td>£2.40 / £4.80</td>
                            </tr>
                            <tr>
                                <th><strong>Sour & Fruit</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Siren Calypso</strong> Berliner Weisse (4% ABV)</td>
                                <td>£2.65 / £5.30</td>
                            </tr>
                            <tr>
                                <td><strong>Lindemans Kriek</strong> Cherry (3.5% ABV)</td>
                                <td>£3.50 / £7.00</td>
                            </tr>
                            <tr>
                                <th><strong>Wheat</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Hacker-Pschor Hefe Weisse</strong> (5.5% ABV)</td>
                                <td>£2.85 / £5.70</td>
                            </tr>
                            <tr>
                                <th><strong>Cider</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Crate Cider</strong> (4.7 ABV)</td>
                                <td>£2.50 / £4.95</td>
                            </tr>
                            <tr>
                                <th><strong>Cask</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Siren Yulu, Loose Leaf Tea Ale</strong> (3.6% ABV)</td>
                                <td>1.85 / £3.70</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </main>

<% include partials/footer %>