<% include partials/header %>

        <main id="main">

            <!-- Background Image -->

            <section class="section-a"><!--use viewpoft to fit height of the screen-->
                <div id="logo-container">
                         
                </div>
            </section>

            <section class="section-d">
                <h1 class="hide">The Mermaid Clapton</h1>
                <div class="about">
                    <p>A traditionally stylled pub, sourcing locally crafted beers ranging from deep
                        flavoured stouts to sweet fruit flavoured ciders via a various largers.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde obcaecati delectus
                        modi voluptates, cupiditate rem natus nostrum vero reiciendis ea ut velit dolores
                        expedita, harum nihil suscipit exercitationem facilis soluta maxime animi non. 
                        Esse debitis nulla omnis eligendi alias facilis repellendus quam, cupiditate in
                        amet odio.
                    </p>
                </div>
            </section>
            <section class="section-c">
                <h3 id="mailListTitle">Join our mailing list</h3><br>
                <% if(typeof msg1 !== 'undefined') { %>
                    <p><%= msg1 %></p>
                <% } %>
                <div class="sign-up">
                    <form action="/" method="POST">
                        <input type="email" name="chimpMail" id="email" placeholder="E-mail" required><br>
                        <input type="date" name="date" id="signUpDate" placeholder="date of birth (mm/yyyy)"><br>
                        <button id="emailSignUp" class="butIndex">Submit</button>
                    </form>
                </div>
            </section>
            
            <section class="section-d">
                <div class="list-open">
                    <ul class="un-list">
                        <li><h3>Opening Times</h3></li>
                        <li>Monday - Thursday: 16:00 - 23:00</li>
                        <li>Friday: 16:00 - 00:00</li>
                        <li>Saturday: 12:00 - 00:00</li>
                        <li>Sunday: 12:00 - 22:30</li>
                    </ul>
                </div>
            </section>
        </main>

        
        <script type="text/javascript" src="../public/scripts/emailSignUp.js"></script>
<% include partials/footer %>