<% include partials/header %>

        <main>
            <section class="section-a">
                <div class="image-container">
                    <img class="image" src="https://farm4.staticflickr.com/3763/11142450083_b6fffaea91.jpg" alt="">
                </div>
                <h1 class="title">How to find us!</h1>
                <p class="about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, excepturi omnis atque praesentium
                    veniam veritatis tempore repudiandae officia error. Quo, esse corrupti odio nihil perferendis 
                    aut! Praesentium delectus explicabo dolor!
                </p>
            </section>
            <section class="section-B">
                <div class="containMap">
                    <div id="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9922.72273970989!2d-0.056201!3d51.555754!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefaadea88f1b7670!2sThe+Mermaid!5e0!3m2!1sen!2suk!4v1544196204258" width="40%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
        </main>

<% include partials/footer %> 