<% include partials/header %>

        <main>
            <section class="login">
                <div>
                    <h1 class="title">Log In</h1>
                    <br>
                    <form action="/login" method="post">
                        <input type="text" name="username" placeholder="username">
                        <input type="password" name="password" placeholder="password">
                        <button>Submit!</button>
                    </form>
                </div>
            </section>
        </main>

<% include partials/footer %>