<% include ./partials/header %>

        <main>
            <section class="section-a">
                <div class="image-container">
                    <img class="image" src="https://images.unsplash.com/photo-1489564239502-7a532064e1c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                </div>
                <h1 class="title">Kitchen & Menu</h1>
                <div class="about">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis natus 
                        beatae earum tenetur, dolor optio, cupiditate eligendi repellat voluptate
                        doloribus quidem? Accusamus earum beatae ullam eius pariatur labore commodi
                        fuga, officia voluptatem doloremque excepturi unde qui, deleniti ad, vel ex
                        alias illo tenetur obcaecati enim. A, modi facere. Laudantium, ratione?
                    </p>
                </div>
            </section>
            <section class="section-b">
                <div class="menu">
                    <table>
                        <thead>
                            <tr>
                                <th>Starters</th>
                            </tr>
                        </thead>
                        <tbody id="starterId">
                            <tr>
                                <td>Greek Salad</td>
                                <td>£6.84</td>
                            </tr>
                            <tr>
                                <td>Garlic Bread</td>
                                <td>£3.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menu">
                    <table>
                        <thead>
                            <tr>
                                <th>Main Courses</th>
                            </tr>
                        </thead>
                        <tbody id="mainCoursesId">
                            <tr>
                                <td>steak</td>
                                <td>£6.84</td>
                            </tr>
                            <tr>
                                <td>Garlic Bread</td>
                                <td>£3.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menu">
                    <table>
                        <thead>
                            <tr>
                                <th>Deserts</th>
                            </tr>
                        </thead>
                        <tbody id="desertsId">
                            <tr>
                                <td>pud</td>
                                <td>£6.84</td>
                            </tr>
                            <tr>
                                <td>Garlic Bread</td>
                                <td>£3.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <script type="text/javascript" src="scripts/menu.js"></script>
<% include ./partials/footer %>